
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<link href="~/Content/homepageStyle.css" rel="stylesheet" type="text/css" />
<link href="~/Content/mainbodyStyle.css" type="text/css"/>

<div id="wel">
    <h1>Welcome Simmers!</h1>
    <img src="../Images/theGang.jpg" alt="TheCrew" />
</div>
<article>
    <section class="News">
        <h3>News & Updates</h3>
        <div id="newsPosts">
            <div class="posts">
                <label>Jan 10, 2015</label>
                <p>Welcome to the new design of the site! We hope you like it.</p>
            </div>
            <div class="posts">
                <label>Jan 13, 2015</label>
                <p>Yay! EA finally came out with a new game pack! The new pack is called "The Sims 4: Outdoor Retreat". I know you all are going to be excited to take your sims and their families out on an adventure.</p>
            </div>
            <div class="posts">
                <label>Mar 31, 2015</label>
                <p>Best news ever!! Finally the franchise came out with a way to go to work with your sims. Here at Simmers United, we have been waiting for them to bring back some of the old functionality. The wait is over! They released a new expansion pack called, "The Sims 4: Get To Work".</p>
            <div/>
                <label>May 19, 2015</label>
                <p>Big News!! EA just released a new stuff pack, "The Sims 4: Luxury Party Stuff". I know us here at Simmers United are purchasing it!</p>
            </div>
        </div>
    </section>
</article>

