body{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 65%;
    background-image: url(/Images/secThemeBackground.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.themeLink{
    color: #11698C;
    font-family: Kabel;
    float: right;
}
.ProPic{
    position:relative;
    left: 50px;
    float: left;
    text-align: center;
    font-family: Kabel;
    padding: 10px;
    color: #711973;
    padding: 20px;
}
.ProPic img{
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: double;
    border-color: #11698C;

}
article{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 100px;
    width: 50%;
    
}
#Bio, #Fav{
    margin-left: auto;
    margin-right: auto;
    font-family: Kabel; 
    width: 50%;
    color: #302B7D;
    border: 5px inset #590B3E;
    width: 100%;
    
}
#Bio, #Fav h3{
    text-align: center;
}
#Bio p{
    text-align: justify; 
    word-spacing: 2px;
    text-indent: 30px;
    white-space: pre-wrap;
    
}
#Fav table{
    text-align: center;
    color: #302B7D ;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 10px;
}
#Fav tr, td{
    border: 3px solid #137563;
    padding: 5px;
   
}

